@font-face {
  font-family: 'Source Code Pro';
  src: url('path/to/your/font/SourceCodePro-Regular.woff2') format('woff2'),
       url('path/to/your/font/SourceCodePro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  color: #fff;
  background-color: #150b21;
}

.content {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
}

main {
  display: flex;
  justify-content: left;
  align-items: top;
  height: fit-content;
}

.project {
  text-decoration: none;
  color: #fff;
  border: 0px solid #ccc;
  padding: 10px;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: block;
  width: 200px;
  background-color: #2b1133;
  border-radius: 10px;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
